
<div class="center">
  <div class="container">
    <div><%= render "title" %></div>
    
    <div>
      <%= render "form", room: @room %>
    </div>
    
    <div class="instructions">
      <div class="q">How to play</div>
      <ul>
        <li>Create a room</li>
        <li>Share room url with other player</li>
        <li>Play & Enjoy 👾</li>
      </ul>
    </div>
  </div>
</div>

